.strike {
	text-decoration:line-through;
}
.pointer{
	cursor: pointer;
	position: absolute;
    left: 56px;
    top:15px;
}

.toolbar-background-md{
	background: #4267b2;	
}
.toolbar-title-md{
	color:#fff;
}